{% extends 'core/base.html' %}

{% block main_section %}

    <form method="get" action="{% url 'core:search_jobposts' %}">
        {% csrf_token %}
        <input type="text" name="query" />
        <input type="submit" value="Search" />
    </form>

    {% if user.is_authenticated %}
    {% if profile == 'personal' %}

    <form method="post" action="{% url 'core:post' %}">
    {% elif profile == 'company' %}

    <form method="post" action="{% url 'core:jobpost' %}">
    {% endif %}

        {% csrf_token %}
        {{ form }}
        <input type="submit" value="post" />
    </form>

    {% endif %}

    {% if search_results %}
    <div id="search-results">
        <ul>
            {% for result in search_results.all %}
            <a href="{% url 'core:jobpost' result.id %}"> {{ result.job_title }} By {{ result.poster.user.first_name }}</a>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

{% endblock %}
