
<h1> {{ jobpost.job_title }} </h1>

<h3> Offered by 
    <a href="">
        {{ jobpost.poster.user.first_name }} 
    </a>
</h3>

<p>
    {{ jobpost.description }}
</p>

<span> Salary: {{ jobpost.min_salary }} - {{ jobpost.max_salary }} </span>

{% if user_profile == 'personal' %}

<form method="post" action="{% url 'core:jobpost' %}">
    {% csrf_token %}
    <input type="hidden" name="jobpost_id" value="{{ jobpost.id }}" />
    <input type="submit" value="Apply" />
</form>

{% elif user_profile == 'company' %}

<h2> Applicants </h2>

<ul>

    {% for app in jobpost.applications.all %}
    <li>
        <a href="{% url 'core:personal_profile' app.applicant.id %}"> 
            {{ app.applicant.user.last_name }}
            , {{ app.applicant.user.first_name }} 
            - 
            {{ app.applicant.user.email }}
            ({{ app.applicant.user.username }}) 
        </a>
    </li>
    {% endfor %}

</ul>
{% else %}
{% endif %}
