<h1> {{ user.user.username }} </h1>

<h2> Posts </h2>
<ul>
    {% for post in user.posts.all %}
    <li>
        <a href="{% url 'core:post' post.id %}">
        {{ post.title }}
        </a>
    </li>
    {% endfor %}
</ul>

<h2> Skills </h2>

{% if is_self %}
<form method="post" action="{% url 'core:add_skill' %}">
    {% csrf_token %}
    {{ add_skill_form }}
    <input type="submit" value="Add" />
</form>
{% endif %}

<ul>
    {% for skill in user.skills.all %}
        <li> 
            {{ skill.skill }} 
        </li>
    {% endfor %}
</ul>

